@import "htk/_imports/colors.less";

.console {
    font-family: Courier New, monospace, serif;
    background-color: @black;
    color: @green;
    overflow: scroll;
    width: 100%;
    padding: 10px;
}
