---
layout: htk_base
title: Home
javascripts:
  - js/app.js
templates:
  - templates/all.html
examples:
  - 1
  - 2
---

<div class="display">
  <div class="content">
    <b>This is where console stuff gets interpreted and displayed</b>
    <div class="output">
    </div>
  </div>
</div>

<div class="controls">
  <div class="content">
    <textarea class="webconsole">This is a web console. Have fun trying out HTML and JavaScript commands here. When ready, press "Try It!"</textarea>
    <button class="try-it">Try It!</button>
    <div class="examples">
      {% for example in page.examples %}
      {% if forloop.index0 > 0 %}|{% endif %}
      <a href="javascript:void(0);" data:example_id="{{ example }}">Example {{ example }}</a>
      {% endfor %}
      {% include fragments/gitter_badge.html %}
    </div>
  </div>
</div>
