<div class="controls">
  <div class="content">
    <textarea class="webconsole">This is a web console. Have fun trying out HTML and JavaScript commands here. When ready, press "Try It!"</textarea>
    <div class="pure-g">
      <div class="examples pure-u-3-5">
        <div class="control-buttons">
          <a href="javascript:void(0);" class="try-button pure-button pure-button-primary">
            <i class="fa fa-fighter-jet"></i>
            Try It!
          </a>
          <a href="javascript:void(0);" class="clear-button pure-button">
            <i class="fa fa-eraser"></i>
            Clear
          </a>
        </div>
        <div class="control-buttons logged-in hidden">
          <a href="javascript:void(0);" class="cloud-load-button pure-button">
            <i class="fa fa-cloud-download"></i>
            Load
          </a>
          <a href="javascript:void(0);" class="cloud-save-button pure-button">
            <i class="fa fa-cloud-upload"></i>
            Save
          </a>
          <a href="javascript:void(0);" class="cloud-run-button pure-button">
            <i class="fa fa-play"></i>
            Run
          </a>
        </div>
        {% for example in page.examples %}
        {% if forloop.index0 > 0 %}|{% endif %}
        <a class="example" href="javascript:void(0);" data:example_id="{{ example }}">Example {{ example }}</a>
        {% endfor %}
      </div>
      <div class="pure-u-2-5 align-right control-buttons">
        <a href="javascript:void(0);" class="wall-button pure-button">
          <i class="fa fa-flag"></i>
          Graffiti Wall
        </a>
        {% include fragments/gitter_badge.html %}
      </div>
    </div>
  </div>
</div>
